

@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Ubuntu:wght@500&display=swap'); /*load in a font.*/

.mwrapper {
  display: grid;
  align-content: center;
  grid-template-columns: 380px 380px 380px;
  grid-gap: 10px;
  background-color: #000;
  padding-right: 100px;
  padding-left: 100px;
  color: #444;
}

	.nav-links { /* links for the navbar */
    		list-style-type: none;
    		margin: 0;
    		padding: 0;
		}
		.nav-links li { /* for the navlinks */
    		display: inline-block;
    		margin-left: 20px;
		}
		.nav-links li a { /* for the navlinks */
    		color: #fff;
    		text-decoration: none; /* not fancy */
    		padding: 10px 15px;
    		display: inline-block;
    		transition: background-color 0.3s ease-in;
		}
		.nav-links li a:hover { /* on hover, change bg to a nice color */
    		background-color: #FFF;
			color: #000
		}
		nav { /* the top navbar */
    		float: right;
		}
	

		body {
			background-color: #000; /* set the bg color */
			font-family: 'Cousine', monospace; /* set the font sitewide*/
			
		}

		hr { /* line break */
			color: #444444; 
		}

		p { /* default text */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-size: 18px;
		}
		b { /* bold text */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-weight: bold;
			font-size: 22px;
		}
		h1 { /* headers */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-size: 42px;
		}
		h2 { /* headers */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-size: 34px;
		}
		h3 { /* headers */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-size: 26px;
		}
		.comment { /* text id that makes the text tiny and grey*/
			color: #444444;
			font-family: 'Cousine', monospace;
			font-size: 12px;
		}
		a { /* links */
			color: #768bff;
			font-family: 'Cousine', monospace;
			font-size: 18px;
		}
		i { /* italic text */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-size: 18px;
		}
		h2 { /* subheaders */
			color: #fff;
			font-family: 'Cousine', monospace;
			font-size: 30px;
		}

        img:hover {
            transform: scale(.8)
        }


		html, body {
  height: 100%;
}

.wrapper { /*I honestly don't know what these do, all I did for picomanager was update the pico-8 version to the latest(?) version*/
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

canvas { /*again, don't know.*/
  border: 0px;
  width: 512px;
  height: 512px;
  background: black;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
		